[Desktop Entry]
Type=Application
Name=Drone Companion UI
Exec=/usr/bin/python3 /home/pi/oil_spill_detection/companion_computer/main_ui.py
Path=/home/pi/oil_spill_detection/companion_computer
Terminal=false
X-GNOME-Autostart-enabled=true
